.list-item {
  display: flex;
  flex-flow: row nowrap;
  overflow: none;
}

.list-item-text {
  display: flex;
  flex-flow: column wrap;
  padding-left: .5rem;
}

.list-item-title {
  font-size: 1rem;
  word-wrap: break-word;
}

.list-item-link {
  word-wrap: break-word;
}

#mob {
  padding: .5rem 1.5rem 2.5rem 1.5rem;
}

#button-l {
   position: relative;
   float: left;
}

#button-r {
   position: relative;
   float: right;
}

#button-r, #button-l {
  background-color: rgb(255, 174, 0) 
}